/*START OF FONT FACES*/
@font-face {
    font-family: "Nunito-Sans";
    src: url('../webfonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url('../webfonts/Montserrat-VariableFont_wght.ttf') format("truetype");
    font-display: swap;
}

/*END   OF FONT FACES*/
/*START OF GLOBAL STYLES*/
body {
    font-family: "Nunito-Sans", sans-serif;
}

:root {
    --main-site-color: #e65f78;
    --main-site-color-rgba: rgba(230, 95, 120, 1);
    --bs-primary-rgb: 230, 95, 120;

}

.bg-secondary {
    --bs-secondary-rgb: 241, 241, 241;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

.test {
    color: black;
}

.section-spacing {
    padding: 6.25rem 0;
}

.settings {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #333;
    /* background-color: blue; */
    position: fixed;
    top: 20%;
    left: 0;
    z-index: 2;
    border-top-right-radius: .3125rem;
    border-bottom-right-radius: .3125rem;
}

a {
    color: inherit;
    text-decoration: none;
}

.main-section-heading p {
    max-width: 500px;
}

/*END   OF GLOBAL STYLES*/

/*START OF HOME SECTION */
.home {
    background-image: url('../images/header-bg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.home p:nth-of-type(2) {
    max-width: 500px;
}

.home .btn {
    --bs-btn-bg: transparent;
    --bs-btn-padding-x: 3rem;
    --bs-btn-padding-y: 1rem;
}

.home .btn:hover {
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #fff;
}

.home .mouse {
    width: 2.5rem;
    height: 5rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.25rem;
    animation-name: jump;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.home h2::after {
    content: "";
    animation-name: type-writer;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.home .mouse::after {
    content: "";
    position: absolute;
    bottom: .625rem;
    left: 50%;
    transform: translateX(-50%);
    width: .1875rem;
    height: .9375rem;
    background-color: white;
}

/*END   OF HOME SECTION */

/*START OF NAVBAR */
.navbar .navbar-nav .nav-link.active {
    --bs-navbar-active-color: var(--main-site-color-rgba);
}

.navbar .nav-link:hover {
    --bs-nav-link-hover-color: var(--main-site-color-rgba)
}

.navbar .nav .nav-link:hover {
    --bs-nav-link-hover-color: var(--main-site-color-rgba);
}

.navbar .nav-item .nav-link {
    position: relative;
}

.navbar .nav-item .nav-link::after {
    content: "";
    position: absolute;
    left: 8px;
    right: 100%;
    bottom: 8px;
    background-color: var(--main-site-color);
    height: 1.5px;
    transition: right 0.3s ease;
}

.navbar .nav-item .nav-link:hover::after,
.navbar .nav-item .nav-link.active::after {
    right: 8px;
}

.navbar .navbar-toggler {
    --bs-navbar-toggler-border-color: var(--main-site-color-rgba);
}

.navbar .nav .navbar-toggler-icon {
    background-image: none;
}

/*END   OF NAVBAR */

/*START ABOUT OF ABOUT*/
.about ul li {
    width: 2.5rem;
    height: 2.5rem;
    transition: border-color 0.2s ease;
}

.about ul li a i {
    transition: color 0.2s ease;
}

.about ul li:hover {
    --bs-secondary-rgb: var(--bs-primary-rgb);
}

.about ul li:hover a i {
    color: var(--main-site-color);
}

/*END   ABOUT OF ABOUT*/

/*start of client*/
.client .slider p {
    max-width: 450px;
}

.client .carousel-indicators {
    position: static;
}

.client .carousel-indicators [data-bs-target] {
    --bs-carousel-indicator-active-bg: var(--main-site-color);
    width: 1.875rem;
    height: .375rem;
    border-radius: 40%;
    text-indent: 0;
}

.portfolio .item::after {
    content: "";
    inset: 0;
    background-color: rgba(0, 0, 0, .75);
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.portfolio .item:hover::after {
    opacity: 1;
}

.portfolio .item:hover img {
    transform: scale(1.5);
}

.portfolio .item:hover .content {
    top: 0;
    opacity: 1;
}

.portfolio .item img {
    transition: transform 0.3s ease;
}

.portfolio .content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s ease;
}

.portfolio .nav-tabs .nav-link.active {
    --bs-nav-tabs-link-active-color: #fff;
    --bs-nav-tabs-link-active-bg: var(--main-site-color);
    border-radius: 999px;
}

.portfolio .nav-tabs .nav-link:hover {
    --bs-nav-tabs-link-hover-border-color: transparent transparent transparent;
}

.portfolio .nav-link {
    --bs-nav-link-color: #000;
}

.portfolio .nav-link:hover {
    --bs-nav-link-hover-color: #000;
}

.portfolio .nav-tabs {
    border-bottom: none;
}

/*end   of client*/

/*start of blog*/
.blog .card {
    border: none;
}

/*end of blog*/
/*start of contact*/
.contact .item i {
    font-size: 5rem;
}

.contact .form-control:focus {
    border-color: var(--main-site-color);
    box-shadow: none;
}

.contact .btn {
    --bs-btn-padding-x: 1rem;
    --bs-btn-padding-y: .5rem
}

.contact .btn-primary {
    --bs-btn-bg: var(--main-site-color);
    --bs-btn-border-color: transparent;
}

.contact .btn:hover {
    --bs-btn-hover-border-color: transparent;
    --bs-btn-hover-bg: var(--main-site-color);
}

/*end   of contact*/