/*START OF FONT FACES*/
@font-face {
    font-family: "Inter";
    src: url('../webfonts/Inter-VariableFont_opsz\,wght.ttf') format("truetype");
    font-display: swap;
}



/*END   OF FONT FACES*/
/*START OF GLOBAL STYLES*/
body {
    font-family: Inter, sans-serif;
    box-sizing: border-box;
}

:root {
    --color-primary: #ea580c;
    --color-secondary: #c2410c;
    --color-accent: #fb923c;
    --orange-50: #fff7ed;
    --light-green: #dcfce7;
    --light-green-2: #f0fdf4;
    --hard-green: #00a63e;
    --blue-100: #dbeafe;
    --blue-50: #eff6ff;
    --red-100: #ffe2e2;
    --red-50: #fef2f2;
    --red-50: #fef2f2;
    --hard-red: #e7000b;
    --hard-blue: #155dfb;
    --purple-100: #f3e8ff;
    --purple-50: #faf5ff;
    --hard-purple: #9810fa;
    --indigo-100: #e0e7ff;
    --indigo-50: #eef2ff;
    --hard-indigo: #4f39f6;
    --teal-100: #cbfbf1;
    --teal-50: #f0fdfa;
    --hard-teal: #009689;

    --hard-brown: #7c2d12;
    --gray-220: #e5e7eb;
}

.txt-clr-hard-brown{
    color: var(--hard-brown);
}

.text-brown {
    color: var(--hard-brown);
}

.prim-clr {
    color: var(--color-primary);
}

.sec-clr {
    color: var(--color-secondary);
}

.bg-orange-50 {
    background-color: var(--orange-50);
}

.text-gray {
    color: oklch(44.6% .03 256.802);
}

.mw-50 {
    max-width: 50%;
}



.section-spacing {
    padding: 100px 0;
    margin-top: .625rem;
}

.footer-spacing {
    padding: 50px 0;
    margin-top: .313rem;
}

a {
    color: inherit;
    text-decoration: none;
}

.width-fit-content {
    width: fit-content;
}

.height-fit-content {
    height: fit-content;
}

.fs-7 {
    font-size: 13px;
}

.fs-8 {
    font-size: 11px;
}

.fs-9 {
    font-size: 9px;
}

.fs-10 {
    font-size: .4375rem;
}

.from-primary-to-sec {
    background-image: linear-gradient(-45deg, var(--color-primary), var(--color-secondary));
}

.from-accent-to-sec-txt {
    background-image: linear-gradient(90deg, var(--color-accent), var(--color-secondary));
    background-clip: text;
    color: transparent;
}

.from-sec-to-primary {
    background-image: linear-gradient(-45deg, var(--color-secondary), var(--color-primary));
}

/*End OF GLOBAL STYLES*/
/* Start Nav Section */
nav .navbar-collapse .get-started {
    background-color: var(--color-primary);
    padding: .625rem 1.75rem;
}

nav .icon {
    width: 2.5rem;
    height: 2.5rem;
}

nav .navbar-collapse .sign-in {
    padding: .625rem 1.75rem;
}

/* End Nav Section */
/* Start Hero Section */
.hero {
    background-color: rgba(255, 247, 237, .2);
    min-height: 100vh;
}

.hero .site-title h1 {
    font-weight: 900;
}

.hero .btn.start {
    --bs-btn-color: white;
    /* --bs-btn-bg: var(--color-primary); */
    background-image: linear-gradient(-45deg, var(--color-secondary), var(--color-primary));
    --bs-btn-padding-x: 2.5rem;
    --bs-btn-padding-y: 1rem;
}

.hero .btn.start:hover {
    --bs-btn-hover-bg: var(--color-primary);
    --bs-btn-hover-color: white;
}

section .section-note {
    background-color: color-mix(in srgb, var(--color-accent), transparent 80%);
}

.hero .site-title .title-bg-1 {
    background-image: linear-gradient(90deg, var(--color-secondary)15%, var(--color-accent), var(--color-secondary)70%);
    background-clip: text;
    color: transparent;
}

.hero .site-title .title-bg-2 {
    color: var(--hard-brown);
}

.hero .site-title .title-bg-3 {
    background-image: linear-gradient(90deg, var(--color-accent), var(--color-secondary) 40%);
    background-clip: text;
    color: transparent;
}

.hero .btn.watch {
    --bs-btn-color: #000;
    --bs-btn-bg: white;
    --bs-btn-padding-x: 2.5rem;
    --bs-btn-padding-y: 1rem;
}

.hero .photo-cover img {
    border: solid white 1.875rem;
    border-radius: 50px;
}

.hero .layer {
    top: 0;
    left: 12%;
    bottom: 0;
    right: 12%;
    background-color: var(--color-primary);
    opacity: .2;

    transform: rotate(3deg);
    z-index: -1;
    border-radius: 30px;
}

.hero .mobile {
    width: 80px;
    height: 80px;
    background-color: var(--color-primary);
    border-radius: 1.25rem;
    bottom: -7%;
    left: 10%;
}

.hero .code {
    width: 104px;
    height: 104px;
    /* background-color: var(--color-primary); */
    background-image: linear-gradient(-45deg, var(--color-primary)25%, var(--color-accent));
    border-radius: 1.25rem;
    top: -7%;
    right: 10%;
}

/* End Hero Section */
/* Start solutions Section */
.solutions .services-note,
.tech .tech-note {
    width: fit-content;
}



/* End solutions Section */

.solutions .solution-icons {
    width: 64px;
    height: 64px;
    background-color: var(--color-primary);
    border-radius: 1.25rem;
}

.solutions ul {
    list-style: none;
}

.solutions .card {
    transition: all 0.5s ease;
}

.solutions .card:hover {
    transform: translate(0, -0.625rem);
    box-shadow: 0rem 0rem 1.875rem 0rem rgba(234, 88, 12, .3);
}

.solutions .card .solution-icons {
    transition: all 0.5s ease;
}

.solutions .card:hover .solution-icons {
    transform: scale(1.1);
}

/* End Solution Section */
/* Start Tech Section */
.tech .nodejs-icon {
    width: 64px;
    height: 64px;
    background-color: var(--hard-green);
}

.tech .python-icon {
    width: 64px;
    height: 64px;
    background-color: var(--hard-blue);
}

.tech .golang-icon {
    width: 64px;
    height: 64px;
    background-color: var(--hard-red);
}

.tech .java-icon {
    width: 64px;
    height: 64px;
    background-color: var(--hard-purple);
}

.tech .dotnet-icon {
    width: 64px;
    height: 64px;
    background-color: var(--hard-indigo);
}

.tech .ruby-icon {
    width: 64px;
    height: 64px;
    background-color: var(--hard-teal);
}

.tech .langs .nodejs .card {
    background-color: var(--light-green-2);
}

.tech .langs .nodejs ul li {
    background-color: var(--light-green);
    color: var(--hard-green);
}

.tech .langs .python .card {
    background-color: var(--blue-50);
}

.tech .langs .python ul li {
    background-color: var(--blue-100);
    color: var(--hard-blue);
}

.tech .langs .golang .card {
    background-color: var(--red-50);
}

.tech .langs .golang ul li {
    background-color: var(--red-100);
    color: var(--hard-red);
}

.tech .langs .java .card {
    background-color: var(--purple-50);
}

.tech .langs .java ul li {
    background-color: var(--purple-100);
    color: var(--hard-purple);
}

.tech .langs .dotnet .card {
    background-color: var(--indigo-50);
}

.tech .langs .dotnet ul li {
    background-color: var(--indigo-100);
    color: var(--hard-indigo);
}

.tech .langs .ruby .card {
    background-color: var(--teal-50);
}

.tech .langs .ruby ul li {
    background-color: var(--teal-100);
    color: var(--hard-teal);
}

.tech .nav-tabs .nav-link.active {
    --bs-nav-tabs-link-active-border-color: transparent;
    border-bottom: var(--color-primary) .125rem solid;
}

.tech .nav-tabs .nav-link:hover {
    --bs-nav-tabs-link-hover-border-color: transparent;
    border-bottom: var(--color-primary) .125rem solid;
}

.tech .tab-content .langs .card {
    transition: all 0.3s ease;
}

.tech .tab-content .langs .card:hover {
    transform: translate(0, -0.625rem);
    box-shadow: 0rem .3125rem 1.25rem .3125rem #0000ff1a;
}

/* End Tech Section */
/* Start Testimonial Section */

.testimonial .testimonial-photo {
    width: 80px;
    height: 80px;
}


.testimonial .carousel .carousel-indicators [data-bs-target] {
    width: .625rem;
    height: .625rem;
    border-radius: 50%;
    background-color: #0000ff1a;
    transition: all 0.6s ease;
}

.testimonial .carousel .carousel-indicators .active {
    background-color: var(--color-primary);
}

.testimonial .carousel .carousel-indicators button:hover {
    background-color: var(--color-primary);
    opacity: .5;
    width: 2.5rem;
}

/* End Testimonial Section */
/* Start FQA Section */

.faq .accordion .accordion-item {
    border-color: var(--gray-220);
    padding: 1.25rem .625rem;
    border-radius: 20px;
    margin-bottom: 16px;
    border-top: solid .0625rem var(--gray-220);
}



.faq .accordion .accordion-button:not(.collapsed) {
    background-color: transparent;
    --bs-accordion-border-color: transparent;
    color: var(--hard-brown);
    font-size: 1.125rem;
    font-weight: 600;

}


.faq .accordion .accordion-button::after {
    content: "";
    --bs-accordion-btn-icon-width: 32px;
    background-color: rgba(234, 88, 12, .2);
    color: var(--color-primary);
    border-radius: 50%;
    display: flex;


}

.faq .accordion .accordion-button {
    color: var(--hard-brown);
    font-size: 1.125rem;
    font-weight: 600;
}

/* End FQA Section */
/* Start Contact Section */
.contact .budget .form-check-input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: none;
    box-shadow: none;
}




.contact .budget .form-check-input:checked[type="radio"] {
    --bs-form-check-bg-image: none;
}

.contact .budget label .selected {
    border-radius: 1.25rem;
    border: solid .125rem var(--gray-220);
}

/* Style selected radio option */
.contact .budget .form-check-label input[type="radio"]:checked~.selected {
    background-color: rgba(234, 88, 12, .1);
}

.contact .budget .form-check-label input[type="radio"]:checked~.selected p {
    color: rgba(234, 88, 12);
}


.contact form .form-control,
.contact form .form-select {
    background-color: rgba(229, 231, 235, .3);
    padding: 1.125rem .625rem;
    border-radius: .9375rem;
}

.contact form .form-control:focus,
.contact form .form-select:focus {
    border: solid 2px var(--color-primary);
    outline: none;
    box-shadow: 0 0 0 .25rem rgba(234, 88, 12, .1);
}

.contact form textarea {
    height: 1000px;
    resize: none;

}

.contact .form-check-input {
    border-color: var(--color-primary);
    padding: .625rem .625rem;
}

.contact .form-check-input:checked {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    padding: .625rem .625rem;
}

.contact form .btn {
    --bs-btn-bg: var(--color-primary);
    --bs-btn-color: white;
    --bs-btn-font-weight: 600;
    --bs-btn-padding-y: 1.125rem;
    --bs-btn-border-radius: 1.25rem;
    transition: all 0.2s ease-in-out;
}

.contact form .btn:hover {
    --bs-btn-hover-bg: var(--color-primary);
    --bs-btn-hover-color: white;
    --bs-btn-padding-y: 1.125rem;
    --bs-btn-border-hover-radius: 1.25rem;
    transform: translate(0, -0.625rem);
    box-shadow: 0px 5px 30px 0px rgba(234, 88, 12, .5);
}

.contact .order-md-last {
    background-color: #c2410c;
}

.contact .order-md-last .flag-holder {
    /* background-color: rgba(234, 88, 12, 0.9); */
    background-color: rgb(255, 255, 255, .2);
    width: 5.25rem;
    height: 3rem;
}

.contact {
    border-bottom: solid .0625rem rgba(0, 0, 0, .5);
}

/* End Contact Section */
/* Start Footer Section */
footer .footer-icon {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--color-primary);
    border-radius: .625rem;
}

footer .footer-text1 {
    max-width: 75%;
}

footer .social-media-icon {
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(0, 0, 0, .05);
    border-radius: .625rem;
    color: rgba(0, 0, 0, .5);
}


/* End Footer Section */